page-home {
  .background {
    background-image: url('../../assets/newsFeedAssets/Background_image/flyingchild.jpg');
    background-repeat: no-repeat;
    position: contain;
    background-position: center;
    background-size: cover;
    background-position: 70% 10%;
  }
}
