page-newsfeed {

    .background {
        background-image: url('../../assets/kids.jpg');
        background-repeat: no-repeat;
        position: contain;
        background-position: center;
        background-size: cover;
        background-position: 70% 10%;         
    }

}
